version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: umbler_mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
         MYSQL_ROOT_PASSWORD: root
         MYSQL_DATABASE: desafio_umbler
         MYSQL_USER: umbler_user
         MYSQL_PASSWORD: umbler_password
    ports:
         - "3306:3306"
    volumes:
         - mysql_data:/var/lib/mysql
volumes:
    mysql_data: