<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <p class="alert alert-warning">Pagina nao encontrada.</p>
    </NotFound>
</Router>
